#home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url(https://bit.ly/2JC7x5P);
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    padding-top: 310px;
    color: white;
}
.header {
  font-size: 3.5em;
  padding-top: 33px;
  font-family: "Open Sans", sans-serif;
}
.ppp {
  font-size: 2em;
  padding: 20px;
}
#mouse {
    animation: mouse 2s infinite;
    top: 50vh; 
  }
  @keyframes mouse {
    0%,
    20%,
    50%,
    80%,
    100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  .about {
    text-align: center;
    line-height: 2.5;
    font-size: 20px;
  }
  h2 {
    text-align: center;
    padding-top: 20px;
    font-size: 3em;
  }
  .services {
    text-align: center;
    font-size: 20px;
    line-height: 2;
  }
  .services {
    font-size: 21px;
  }
  #service {
    background-image: 
      url(https://bit.ly/329RzGF);
      background-repeat: no-repeat;
      background-size: cover;
    height: 60vh;
    color: white;
    padding-top: 90px;
  }
  #row2 {
    padding-top: 50px;
  }
  #contacts {
    padding-top: 50px;
    background-image: url(https://bit.ly/36o6L62);
    height: 60vh;
    color: white;
  }
  .form {
    display: flex;
    justify-content: center;
    text-align: center;
  }
  #email,
  #textarea,
  #name {
    background: transparent;
    color: white;
  }
  #name::placeholder,
  #email::placeholder,
  #textarea::placeholder {
    color: white;
  }